<ion-header>
  <ion-toolbar>
    <ion-title class="titleConfigurationPage">Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this.closeConfigPage()">
        <ion-icon slot="icon-only" name="arrow-back" class="iconStyle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button disabled="true" (click)="alertConfirmDeleteSocialProfile()">
        <ion-icon slot="icon-only" src="assets/remove-user.svg" style="color: rgb(255, 64, 64);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" style="--background:transparent">
    <p class="defaultFont" slot="start">Mostrar mi perfil en Social <ion-icon class="iconStyle" src="assets/beta-icon.svg"></ion-icon></p>
    <ion-toggle *ngIf="this.toggleChecked" slot="end" class="toogleStyle" checked="true" (ionChange)="makeUserProfileVisibleSocial()"></ion-toggle>
    <ion-toggle *ngIf="!this.toggleChecked" slot="end" class="toogleStyle" checked="false" (ionChange)="makeUserProfileVisibleSocial()"></ion-toggle>
  </ion-item>

  <ion-item lines="full" style="--background:transparent; margin-top: -10px;">
    <p class="defaultFont" style="font-size:12px;">
      *Tu perfil se ocultará y nadie podrá verlo, por el contrario, no podrás usar este servicio.
    </p>
  </ion-item>

  <ion-item lines="none" style="--background:transparent">
    <p class="defaultFont" slot="start">Cambiar el tema:</p>
    <ion-buttons slot="end">
      <ion-button style="margin-right: -7px;" (click)="colorSheet()">
        <ion-icon slot="icon-only" src="assets/color-circle.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item lines="none" style="--background:transparent">
    <p class="defaultFont" slot="start" style="color: rgb(145, 145, 145);">Cambiar el idioma:</p>
    <ion-buttons slot="end">
      <ion-button disabled="true" style="margin-right: -7px;" (click)="languageSheet()">
        <ion-icon slot="icon-only" class="iconStyle" name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item lines="none" style="--background:transparent">
    <p class="defaultFont" slot="start">Configurar Top (Actual: Top {{this.statsCap}})</p>
    <ion-buttons slot="end">
      <ion-button *ngIf="this.conditionsAccepted" style="margin-right: -7px;" (click)="statsSize()">
        <ion-icon slot="icon-only" class="iconStyle" name="bar-chart-sharp"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!this.conditionsAccepted" style="margin-right: -7px;" (click)="acceptConditionsOfTop()">
        <ion-icon slot="icon-only" class="iconStyle" name="bar-chart-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div style="width:100%; text-align: center; margin-top: 55px;">
    <p class="defaultFont" style="font-size:13px;">
      Si tienes algún problema con la app, escríbenos aquí:
    </p>
    <form [formGroup]="tasks" (ngSubmit)="this.sendReport()">
    <ion-card class="cardColor">
      <ion-item class="cardColor" lines="full">
        <ion-input formControlName="issueTitle" class="defaultFont" type="text" autocapitalize="true" placeholder="¿Que problema tienes?">
        </ion-input>
      </ion-item>
    
      <ion-card-content>
        <ion-item class="cardColor" lines=full>
          <ion-textarea formControlName="issueDescription" class="defaultFont" style="height:100px" placeholder="Descríbelo" autocapitalize="true" auto-grow="true">
         </ion-textarea>
        </ion-item>
      </ion-card-content>
      
      <div style="width:100%; text-align: center; padding-top: 4px; padding-bottom: 7px; background-color: #222222;">
        <ion-button type="submit" [disabled]=!tasks.valid fill="clear" class="sendButton">
          <ion-label class="defaultFont">Enviar reporte</ion-label>
        </ion-button>
      </div>
    </ion-card>
  </form>
  </div>
</ion-content>

