<ion-tabs class="myTabBar">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="myTabButtons">
      <ion-icon name="radio"></ion-icon>
      <ion-label class="fontStyle">Analizar audio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="myTabButtons">
      <ion-icon name="play"></ion-icon>
      <ion-label class="fontStyle">Tus canciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="myTabButtons">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label class="fontStyle">Estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
