<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleTab2">
      Canciones que te gustan
    </ion-title>
    <ion-buttons slot="start">   
        <ion-button (click)="HelpForSavedTracks()" size="large">
          <ion-icon slot="icon-only" class="iconStyle" name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="reloadSavedSongs()" size="large">
          <ion-icon slot="icon-only" class="iconStyle" name="reload-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fontStyle">
  <div *ngIf="this.errorPresentedSavedTracks && this.cargado" style="text-align: center;">
    <ion-icon src="assets/music-file.svg" class="errorSvg"></ion-icon>
    <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; margin-top:-100px; color: white;">
      Algo no ha salido como esperábamos...</p>
      <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
      Por favor, asegurate de que tienes conexión a Internet, por el contrario, contacta con uno de los desarrolladores.
      </p>    
        <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadSavedSongs()">    
            <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Recargar canciones</ion-label>
        </ion-button>
  </div>

  <div *ngIf="this.cargado && !this.emptyList && !this.errorPresentedSavedTracks">
  <ion-list>
    <ion-item lines="none" style="margin-top: -7px;" *ngFor = "let savedTrack of listaCancionesGuardadas; let i=index"> 
      <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
        <ion-item lines="full" class="itemBackground" (click)="openSongInSpotify(savedTrack)">
          <p slot="start" class="index">{{i+1}}.</p>
            <img slot ="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px; margin-left: -13px;" src="{{savedTrack.trackThumbnail}}">          
          <ion-label>
            <p class="track">{{savedTrack.trackName}}</p>
           
            <ion-label *ngFor = "let artist of this.savedTrack.artists; let o=index">
              <p *ngIf="2 >= this.o" class="defaultFont" style="font-size: 13px;">{{artist.name}}</p>
              <p *ngIf="this.savedTrack.artists.length > 3 && this.o === 3" class="defaultFont" style="color:#bdbdbd; font-size: 13px;">Y más artistas</p>
            </ion-label>

          </ion-label>
          <ion-icon class="iconStyle" name="play-outline" slot="end"></ion-icon>
          </ion-item>
      </ion-card>
    </ion-item>

    <ion-infinite-scroll *ngIf="this.listaCancionesGuardadas.length > 0" threshold="60px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content *ngIf="100 > this.listaCancionesGuardadas.length"
        loadingSpinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  </div>

  <div *ngIf="this.cargado && this.emptyList && !this.errorPresentedSavedTracks" style="text-align: center;">
    <img src="assets/spotifypng.png" style="margin-top: 40%; width: 40%;">
    <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">Aún no tienes ninguna canción guardada, ¡guárdalas en Spotify y aparecerán aquí!</p>
        
        <ion-button size="large" shape="round" class="goToSpotify" slots="icon-only" fill="outline" (click)="goToSpotify()">    
            <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Ir a Spotify</ion-label>
        </ion-button>
  </div>

  <div *ngIf="!this.cargado && !this.emptyList && !this.errorPresentedSavedTracks">
    <ion-list>
    <ion-item lines="none" *ngFor="let skeletonTrack of skeletonList;">
      <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
      <ion-item lines="full">
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        <ion-label>
          <p style="margin-left: 30px;">
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>

          <p style="margin-left: 30px;">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</div>

</ion-content>

