<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title class="titleTab2">
      Canciones que te gustan
    </ion-title>
    <ion-buttons slot="start">   
        <ion-button>
          <ion-icon class="iconColor" name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="reloadSavedSongs()">
          <ion-icon class="iconColor" name="reload-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fontStyle">
  <div *ngIf="listaCancionesGuardadas.length >= 20">
  <ion-list>
    <ion-item lines="none" *ngFor = "let savedTrack of listaCancionesGuardadas; let i=index"> 
      <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
        <ion-item lines="full" class="itemBackground">
          <p slot="start" class="index">{{i+1}}.</p>
            <img slot ="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px; margin-left: -13px;" src="{{savedTrack.trackThumbnail}}">          
          <ion-label>
            <p class="track">{{savedTrack.trackName}}</p>
            <p style="color:#9c9c9c" *ngFor = "let artist of this.savedTrack.artists;">{{artist.name}}</p>
          </ion-label>
            <ion-icon style="color:#b4b4b4" slot="end" name="play"></ion-icon>
          </ion-item>
      </ion-card>
    </ion-item>

    <ion-infinite-scroll *ngIf="this.listaCancionesGuardadas.length > 0" threshold="60px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content *ngIf="100 > this.listaCancionesGuardadas.length"
        loadingSpinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  </div>

  <div *ngIf="20 > listaCancionesGuardadas.length">
    <ion-list>
    <ion-item lines="none" *ngFor="let skeletonTrack of skeletonList;">
      <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
      <ion-item lines="full">
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        <ion-label>
          <p style="margin-left: 30px;">
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>

          <p style="margin-left: 30px;">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</div>

</ion-content>

