.titleTab2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.itemBackground{
    --ion-item-background: rgb(59, 59, 59);
}

.iconColor{
    color: white;
}

.track{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white
}

.index{
    font-weight: bold;
}