<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title class="titleTab1">
      Analizar audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fontStyle">

  <ion-button style="--background:#1DB954" (click)="login()">A PROBAR</ion-button>
  {{ result | json }}

  <ion-label>
    <ion-text>
      <h1>{{status}}</h1>
    </ion-text>
  </ion-label>
  <ion-button (click)="grabarAudio()">Grabar</ion-button>
  <ion-button (click)="pararAudio()">Parar</ion-button>
</ion-content>
