.titleTab1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: white;
}

.iconColor{
    color: white;
}

.index{
    font-weight: bold;
}

.songOrArtist{
    margin-left: 10px;
}


.songOrArtistItem{
    --ion-item-background: rgb(59, 59, 59);
}

  .itemBackground{
    --ion-item-background: rgb(59, 59, 59);
}

.track{
    font-weight: bold;
    color: white
}

.dataTime{
    color:white;
    text-align: right;
}

.index{
    font-weight: bold;
}

