
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleTab1">
       Tus Estadísticas ({{time_range}})
    </ion-title>

    <ion-buttons slot="end">   
        <ion-button (click)="reloadStats()">
          <ion-icon slot="icon-only" class="iconStyle" name="reload-outline"></ion-icon>
        </ion-button>
<!--
        <ion-button (click)="presentActionSheet()" fill="clear">
          <ion-icon class="iconColor" icon="ellipsis-vertical"></ion-icon>
        </ion-button>
    -->
      </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="timeLapseSheet()">
        <ion-icon slot="icon-only" class="iconStyle" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fontStyle">
  <super-tabs>
    <super-tabs-toolbar slot="top" style="background-color: rgb(59, 59, 59);">
      
      <super-tab-button>
        <ion-label class="defaultFont" style="font-weight: bold;">Canciones</ion-label>
      </super-tab-button>  

      <super-tab-button>
        <ion-label class="defaultFont" style="font-weight: bold;">Artistas</ion-label>
      </super-tab-button>  


      <super-tab-button>
        <ion-label class="defaultFont" style="font-weight: bold;">Recientes</ion-label>
      </super-tab-button>  
  
    </super-tabs-toolbar>

    <super-tabs-container>

      <super-tab>
        <ion-content>
          <div *ngIf="this.errorPresentedTracks" style="text-align: center;">
            <img src="assets/stats_bars.png" style="width: 80%;">
            <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto;margin-top:-20px; color: white;">
              ¡Ups, esto no debería de haber ocurrido!</p>
              <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
                Por favor, asegúrate de tener conexión a Internet.
              </p>    
                <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadStats()">    
                    <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
                </ion-button>
          </div>

          <div *ngIf="this.listaTopCanciones.length == 0 && this.cargado && !this.errorPresentedTracks" style="text-align: center;">
            <img src="assets/stats_bars.png" style="width: 80%;">
            <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto;margin-top:-20px; color: white;">
              ¡Ups, esto no debería de haber ocurrido!</p>
              <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
                Si estás viendo esto significa que tu cuenta es demasiado reciente o simplemente
                no hay estadísticas que mostrarte, ¡vuelve más tarde!.
              </p>    
                <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadStats()">    
                    <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
                </ion-button>
          </div>

          <div *ngIf="this.cargado && !errorPresentedTracks">
          <ion-list>
            <ion-item lines="none" style="margin-top: -7px;" *ngFor = "let topTrack of listaTopCanciones; let i=index"> 
              <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
                <ion-item lines="full" class="itemBackground" (click)="openTrackInSpotify(this.topTrack)">
               
                  <ion-icon size="small" class="iconSPosition" src="assets/spotify.svg"></ion-icon>
                  

                  <p *ngIf="this.i > 2" slot="start" class="index">{{i+1}}.</p>
                  <p *ngIf="this.i === 0" slot="start" style="color:gold" class="index">{{i+1}}.</p>
                  <p *ngIf="this.i === 1" slot="start" style="color:silver" class="index">{{i+1}}.</p>
                  <p *ngIf="this.i === 2" slot="start" style="color:#CD7F32" class="index">{{i+1}}.</p>

                    <img slot ="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px; margin-left: -13px;" src="{{topTrack.trackThumbnail}}">          
                  <ion-label>
                    <p class="track">{{topTrack.trackName}}</p>
                   
                    <ion-label *ngFor = "let artist of this.topTrack.artists; let o=index">
                      <p *ngIf="2 >= this.o" class="defaultFont" style="font-size: 13px;">{{artist.name}}</p>
                      <p *ngIf="this.topTrack.artists.length > 3 && this.o === 3" class="defaultFont" style="color:#bdbdbd; font-size: 13px;">Y más artistas</p>
                    </ion-label>
                  </ion-label>

                  

                  </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>

          <div *ngIf="!this.cargado && !errorPresentedTracks">
            <ion-list>
            <ion-item lines="none" *ngFor="let skeletonTrack of skeletonList;">
              <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
              <ion-item lines="full">
                  <ion-thumbnail>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                  <p style="margin-left: 30px;">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  </p>
        
                  <p style="margin-left: 30px;">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </p>
                </ion-label>
                </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>
          
        </ion-content>
      </super-tab>

      <super-tab>
        <ion-content>
          <div *ngIf="this.errorPresentedArtists" style="text-align: center;">
            <img src="assets/stats_bars.png" style="width: 80%;">
            <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto;margin-top:-20px; color: white;">
              ¡Ups, esto no debería de haber ocurrido!</p>
              <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
              Por favor, asegurate de tener conexión a Internet.
              </p>    
                <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadStats()">    
                    <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
                </ion-button>
          </div>

          <div *ngIf="this.listaTopArtistas.length == 0 && this.cargado && !this.errorPresentedTracks" style="text-align: center;">
            <img src="assets/stats_bars.png" style="width: 80%;">
            <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto;margin-top:-20px; color: white;">
              ¡Ups, esto no debería de haber ocurrido!</p>
              <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
              Si estás viendo esto significa que tu cuenta es demasiado reciente o simplemente
              no hay estadísticas que mostrarte, ¡vuelve más tarde!.
              </p>    
                <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadStats()">    
                    <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
                </ion-button>
          </div>

          <div *ngIf="this.cargado && !this.errorPresentedArtists">
          <ion-list>
            <ion-item lines="full" *ngFor="let topArtist of listaTopArtistas; let i=index">
              <ion-card style="--background: rgb(59, 59, 59); width:100%; margin-left: auto; margin-right: auto; align-items: center;">
                <ion-card-header>
                    <ion-toolbar style="--background: transparent">
                      <ion-avatar>
                        <img src="{{topArtist.image}}">
                      </ion-avatar>
                      <ion-buttons slot="end">
                          <ion-icon *ngIf="this.i === 0" size="large" src="assets/trophy.svg" (click)="presentToast(1)"></ion-icon>
                          <ion-icon *ngIf="this.topArtist.popularity > 80" size="large" src="assets/popularity.svg" (click)="presentToast(2)" style="margin-left: 8px;"></ion-icon>
                          <ion-icon *ngIf="this.topArtist.followers > 1000000" size="large" src="assets/million.svg" (click)="presentToast(3)" style="margin-left: 8px;"></ion-icon>
                        
                        <ion-icon size="large" (click)="this.openArtistProfile(topArtist)" style="margin-left: 8px;" src="assets/spotify.svg"></ion-icon>
                      
                        </ion-buttons>
                    </ion-toolbar>
                  
                  <ion-card-title *ngIf="this.i > 2" style="font-family: 'Poppins', sans-serif; font-weight: bold; margin-top: 15px; color:white;">{{i+1}}. {{topArtist.name}}</ion-card-title>
                  <ion-card-title *ngIf="this.i === 0" style="font-family: 'Poppins', sans-serif; font-weight: bold; margin-top: 15px; color:gold">{{i+1}}. {{topArtist.name}}</ion-card-title>
                  <ion-card-title *ngIf="this.i === 1" style="font-family: 'Poppins', sans-serif; font-weight: bold; margin-top: 15px; color:silver">{{i+1}}. {{topArtist.name}}</ion-card-title>
                  <ion-card-title *ngIf="this.i === 2" style="font-family: 'Poppins', sans-serif; font-weight: bold; margin-top: 15px; color:#CD7F32">{{i+1}}. {{topArtist.name}}</ion-card-title>

                  <ion-toolbar style="--background: transparent">
                    <ion-chip slot="start" style="margin-top: 20px;">
                      <ion-icon name="people" style="color:white;"></ion-icon>
                      <ion-label style="color:white; font-family: 'Poppins', sans-serif; font-size: 11px;">Popularidad: {{topArtist.popularity}}</ion-label>
                    </ion-chip>
                      <p slot="end" style="font-family: 'Poppins', sans-serif; text-align: right; margin-bottom: -5px; margin-right: 3px;">{{topArtist.followers}} seguidores</p>
                  </ion-toolbar>  
                </ion-card-header>
              </ion-card>
            </ion-item>
          </ion-list> 
        </div>
          
          <div *ngIf="!this.cargado && !this.errorPresentedArtists">
            <ion-list>
            <ion-item lines="none" *ngFor="let skeletonTrack of skeletonList;">
              <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
                <ion-card-header>
                  <ion-toolbar style="--background: transparent">
                  <ion-avatar>
                      <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                </ion-toolbar>
                  <ion-card-title>
                    <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                  </ion-card-title>

                    <p style="text-align: center;">
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text> 
                    </p>

                </ion-card-header>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>

        </ion-content>
      </super-tab>

      <super-tab>
        <ion-content>
          <div *ngIf="this.errorPresentedRecentlyPlayed" style="text-align: center;">
            <img src="assets/stats_bars.png" style="width: 80%;">
            <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto;margin-top:-20px; color: white;">
              ¡Ups, esto no debería de haber ocurrido!</p>
              <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
              Por favor, asegurate de tener conexión a Internet.
              </p>    
                <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadStats()">    
                    <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
                </ion-button>
          </div>
          <div *ngIf="this.cargado && !errorPresentedRecentlyPlayed">
          <ion-list>
            <ion-item lines="none" style="margin-top: -7px;" *ngFor = "let playedTrack of listaEscuchadasRecientemente"> 
              <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
                <ion-item lines="full" class="itemBackground" (click)="openTrackInSpotify(this.playedTrack)">
                  <ion-icon size="small" class="iconSPosition" src="assets/spotify.svg"></ion-icon>
                  <img slot="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px;" src="{{playedTrack.trackThumbnail}}">          
                    <ion-label>
                    <p class="track">{{playedTrack.trackName}}</p>

                      <ion-label *ngFor = "let artist of this.playedTrack.artists; let o=index">
                        <p *ngIf="2 >= this.o" class="defaultFont" style="font-size: 13px;">{{artist.name}}</p>
                        <p *ngIf="this.playedTrack.artists.length > 3 && this.o === 3" class="defaultFont" style="color:#bdbdbd; font-size: 13px;">Y más artistas</p>
                      </ion-label>
                    <p class="dataTime">{{(playedTrack.playedat)?.substring(0,10)}}</p>
                  </ion-label>
                  </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>

          <div *ngIf="!this.cargado && !errorPresentedRecentlyPlayed">
            <ion-list>
            <ion-item lines="none" *ngFor="let skeletonTrack of skeletonList;">
              <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
              <ion-item lines="full">
                  <ion-thumbnail>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                <ion-label>
                  <p style="margin-left: 30px;">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  </p>
        
                  <p style="margin-left: 30px;">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </p>
                </ion-label>
                </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>

        </ion-content>
      </super-tab>

    </super-tabs-container>


  </super-tabs>
</ion-content>
