<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleTab3">
      Mi perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!------
  <ion-label>
    <ion-text>
      <h1>{{status}}</h1>
    </ion-text>
  </ion-label>
  <ion-button (click)="grabarAudio()">Grabar</ion-button>
  <ion-button (click)="pararAudio()">Parar</ion-button>

  <ion-button (click)="recordAudio()">Media Capture</ion-button>
  --->
  <ion-avatar *ngIf="specialInfoLoaded" class="imgEdit">
    <img src="{{loggedUser.image}}">
  </ion-avatar>

  <ion-avatar *ngIf="!specialInfoLoaded" class="imgEdit">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-avatar>

  <p class="displayName">{{loggedUser.display_name}}</p>

  <ion-toolbar lines="none" style="margin-top: -25px; --background: transparent;">
      <p slot="start" class="userId">ID: {{loggedUser.id}}</p>
      <p slot="end" class="followers">{{loggedUser.followers}} seguidores</p> 
  </ion-toolbar>
  
  <div style="text-align: center;">
    <ion-button fill="outline" shape="round" class="profileButton" (click)="openUserProfile()">
      <ion-icon src="assets/spotify.svg" slot="start"></ion-icon>
      <ion-label style="font-family: 'Poppins', sans-serif;">Ver en Spotify</ion-label> 
    </ion-button>
  </div>

  <h4 style="margin-left: 5%;margin-top: 9%; font-family: 'Poppins', sans-serif;">Tu canción más escuchada</h4>

    <ion-card style="width:90%; margin-left: auto; margin-right: auto; align-items: center;">
      <ion-item class="itemBackground" lines="full" (click)="openFavouriteSong()">
        <img *ngIf="specialInfoLoaded" slot="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px;" src="{{this.favouriteSong.trackThumbnail}}">
        
        <ion-thumbnail style="width: 70px;height: 70px; margin-right: 30px; margin-top: 7px; margin-bottom: 7px;" *ngIf="!specialInfoLoaded">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        
        <ion-label>
          <p class="track">{{this.favouriteSong.trackName}}</p>
        <ion-label *ngFor = "let artist of this.favouriteSong.artists">
          <p style="font-family: 'Poppins', sans-serif; font-size: 13px;">{{artist.name}}</p>
        </ion-label>
        
        </ion-label>
        <ion-icon src="assets/spotify.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-card>  

    <h4 style="margin-left: 5%; font-family: 'Poppins', sans-serif;">Tu artista más escuchado</h4>
    <ion-card style="width:90%; margin-left: auto; margin-right: auto; align-items: center;">
      <ion-item class="itemBackground" lines="full" (click)="openFavouriteArtist()">
          
          <img *ngIf="specialInfoLoaded" style="width: 25%; margin-top: 7px; margin-bottom: 7px;" src="{{this.favouriteArtist.image}}">
          
          <ion-thumbnail style="width: 70px;height: 70px; margin-top: 7px; margin-bottom: 7px;" *ngIf="!specialInfoLoaded">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          
          <ion-label class="artist">
          {{this.favouriteArtist.name}}
        </ion-label>
        <ion-icon src="assets/spotify.svg" slot="end"></ion-icon>
      </ion-item>
    </ion-card>


</ion-content>

<ion-footer class="ion-no-border">
  <div style="text-align: center; margin-bottom: 5%;">
    <ion-button fill="outline" shape="round" class="logoutButton" (click)="logout()">
      <ion-label style="font-family: 'Poppins', sans-serif;">Cerrar sesión</ion-label> 
    </ion-button>

    <ion-button fill="outline" shape="round" (click)="getUsersfromDatabase()">
      <ion-label style="font-family: 'Poppins', sans-serif;">USUARIOS</ion-label> 
    </ion-button>
  </div>
</ion-footer>
