<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title class="titleTab3">
       Estadísticas
    </ion-title>
    <ion-buttons slot="end">   
      <ion-button fill="clear">
        <ion-icon class="dotsColor" icon="ellipsis-vertical"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fontStyle">
  <super-tabs>
    <super-tabs-toolbar slot="top" style="background-color: rgb(59, 59, 59); color: white;">
      
      <super-tab-button>
        <ion-label class="fontStyle">Canciones</ion-label>
      </super-tab-button>  

      <super-tab-button>
        <ion-label class="fontStyle">Artistas</ion-label>
      </super-tab-button>  


      <super-tab-button>
        <ion-label class="fontStyle">Recientes</ion-label>
      </super-tab-button>  
  
    </super-tabs-toolbar>

    <super-tabs-container>

      <super-tab>
        <ion-content class="fontStyle">
          <ion-list>
            <ion-item lines="none" *ngFor = "let topTrack of listaTopCanciones; let i=index"> 
              <ion-card class="cardBackground">
                <ion-item lines="full" class="itemBackground">
                  <p slot="start" class="index">{{i+1}}.</p>
                    <img slot ="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px; margin-left: -13px;" src="{{topTrack.trackThumbnail}}">          
                  <ion-label>
                    <p class="track">{{topTrack.trackName}}</p>
                    <p *ngFor = "let artist of this.topTrack.artists;">{{artist.name}}</p>
                  </ion-label>
                  </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>
          
        </ion-content>
      </super-tab>

      <super-tab>
        <ion-content class="fontStyle">
          <ion-list>
            <ion-card *ngFor="let topArtist of listaTopArtistas; let i=index" style="--background: rgb(59, 59, 59)">
              <ion-card-header>
                <img class="center" src="{{topArtist.image}}">
                <ion-card-subtitle>Popularidad: {{topArtist.popularity}}</ion-card-subtitle>
                <ion-card-title style="font-weight: bold;">{{i+1}}. {{topArtist.name}}</ion-card-title>
                <p style="text-align: right; margin-bottom: -5px;">{{topArtist.followers}} seguidores</p>
              </ion-card-header>
            </ion-card>
          </ion-list>
        </ion-content>
      </super-tab>

      <super-tab>
        <ion-content class="fontStyle">
          
          <ion-list>
            <ion-item lines="none" *ngFor = "let playedTrack of listaEscuchadasRecientemente; let i=index"> 
              <ion-card>
                <ion-item lines="full" class="itemBackground">
                    <img slot ="start" style="height: 20%; width: 20%; margin-top: 7px; margin-bottom: 7px;" src="{{playedTrack.trackThumbnail}}">          
                  <ion-label>
                    <p class="track">{{playedTrack.trackName}}</p>
                    <p *ngFor = "let artist of this.playedTrack.artists;">{{artist.name}}</p>
                  </ion-label>
                  </ion-item>
              </ion-card>
            </ion-item>
          </ion-list>

        </ion-content>
      </super-tab>

    </super-tabs-container>


  </super-tabs>
</ion-content>
