<ion-content>

  <p class="defaultFont" style="font-size: 40px; font-weight: bold; margin-top: 15%; text-align: center;"><span style="color: #1DB954;">S</span>potify  <span style="color: #1DB954;">S</span>tats</p>
  <div class="alignImage">
    <img src="assets/stats_bars.png">
  </div>

   <p class="defaultFont" style="margin-left: 15px; font-size: 18px;">El equipo de desarrolladores:</p>
    <ion-item lines="full" style="--background: transparent; margin-top: -10px;">
      <p class="defaultFont" slot="start">Antonio Jiménez</p>
      
      <ion-buttons slot="end">
        <ion-button (click)="openDev1Twitter()">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      </ion-item>

      <ion-item lines="none" style="--background: transparent;">
        <p class="defaultFont" slot="start">Francisco García</p>
        
        <ion-buttons slot="end">
          <ion-button (click)="openDev2Twitter()">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>

          <ion-button (click)="openDev2Instagram()">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-buttons>
        
        </ion-item>


</ion-content>


<ion-footer class="ion-no-border">
  
  <div style="text-align: center;">
    <ion-button fill="outline" shape="round" class="closeModalButton" (click)="closeModal()">
      <ion-label style="font-family: 'Poppins', sans-serif;">Cerrar</ion-label> 
    </ion-button>
  </div>
  <p style="margin-left: 15px;">Ver. 1.0.0</p>
</ion-footer>