<ion-header>
  <ion-toolbar>
    <ion-title class="socialTitle">Social</ion-title>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="this.closeSocialPage()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="this.reloadSocial()">
        <ion-icon slot="icon-only" class="iconStyle" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="this.serverError" style="text-align: center;">
    <ion-icon src="assets/error_server.svg" style="width:70%; margin-top: -50px; font-size: 512px; color:#1DB954;"></ion-icon>
    <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center;font-weight: bold; margin-left: auto; margin-right: auto; margin-top:-110px; color: white;">
      Error del servidor</p>
      <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center; margin-left: auto; margin-right: auto; color: white;">
      Este servicio no está disponible actualmente o no tienes conexión a Internet.
      </p>    
        <ion-button size="large" shape="round" class="reloadAuxiliar" slots="icon-only" fill="outline" (click)="reloadSocial()">    
            <ion-label style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: bold;">Intentar de nuevo</ion-label>
        </ion-button>
  </div>

  <super-tabs *ngIf="!this.serverError" style="--st-indicator-color: #1DB954;">
    <super-tabs-toolbar slot="top" style="background-color: rgb(59, 59, 59);">
      
      <super-tab-button>
        <ion-label class="defaultFont" style="font-weight: bold;">Seguidos</ion-label>
      </super-tab-button>  

      <super-tab-button>
        <ion-label class="defaultFont" style="font-weight: bold;">Buscar usuarios</ion-label>
      </super-tab-button>  
  
    </super-tabs-toolbar>

    <super-tabs-container>
        <super-tab>
          <ion-content>
              <ion-list> 
                <div *ngIf="this.listaUsuariosSeguidos.length != 0 && this.isLoaded">
                <!-- Se recorre la lista de usuarios seguidos -->
                 <ion-item lines="none" *ngFor="let followedUser of this.listaUsuariosSeguidos; let i=index">
                    <ion-card class="cardBackground" style="width: 100%; margin-left: auto; margin-right: auto; align-items: center; margin-top: -1px;">
                      <ion-item lines="full" class="itemBackground">
                        <ion-avatar class="imgEdit" (click)="openUserProfile(this.followedUser)">
                          <img src="{{this.followedUser.image}}"> 
                        </ion-avatar>
                                  
                        <ion-label style="padding-bottom: 7px; padding-top: 7px;">
                          <!------ Nombre de usuario a mostrar (displayName) -->
                          <p class="userName">{{this.followedUser.displayName}}</p>
                        
                          <!------ Seguidores del usuario -->
                          <ion-label>
                            <p class="defaultFont" style="font-size: 13px;">{{this.followedUser.followers}} <span *ngIf="this.followedUser.followers > 1">seguidores</span><span *ngIf="this.followedUser.followers == 1">seguidor</span></p>
                          </ion-label>
                        </ion-label>
                        <!--- Cuando se haga click en el botón, preguntar con un alert si está seguro de dejar de seguir al usuario -->
                        <ion-buttons>
                          <ion-button fill="none" size="medium" (click)="openUserProfile(this.followedUser)">
                            <ion-icon slot="icon-only" src="assets/open_profile.svg" style="color: #1DB954;"></ion-icon>
                          </ion-button>
                          
                          <ion-button size="medium" fill="none" (click)="alertUnfollow(this.followedUser)"> 
                            <ion-icon slot="icon-only" name="person-remove" style="color:white;"></ion-icon>
                          </ion-button> 
                        </ion-buttons>
                        </ion-item>
                    </ion-card>
                  </ion-item> 
                </div>
              </ion-list>

              <div *ngIf="this.listaUsuariosSeguidos.length == 0 && this.isLoaded" style="text-align: center;">
                <ion-icon src="assets/high_five.svg" style="width:70%; font-size: 512px; color:#1DB954;"></ion-icon>
                <p style="font-family: 'Poppins', sans-serif; width: 90%; text-align: center;margin-top: -20%; margin-left: auto; margin-right: auto; color: white;">Aún no sigues a nadie, ¡házlo y comienza a ver sus estadísticas!</p>
              </div>

          </ion-content>
        </super-tab>
        <super-tab>
          <ion-content>
            <ion-searchbar class="searchBar" #search placeholder="Buscar usuario" (ionChange)="searchUser($event)"></ion-searchbar>
            <ion-list> 
              <!-- Se recorre la lista de usuarios de la base de datos, si el usuario es el logueado que no aparezca -->
              <ion-item lines="none" *ngFor="let user of this.listaUsuarios; let i=index">
              <ion-card class="cardBackground" style="width: 100%; margin-left: auto; margin-right: auto; margin-top: -1px; align-items: center;">
                <ion-item lines="full" class="itemBackground">
                  <ion-avatar class="imgEdit">
                    <img src="{{this.user.image}}"> 
                  </ion-avatar>
                             
                  <ion-label style="padding-bottom: 7px; padding-top: 7px;">
                    <!------ Nombre de usuario a mostrar (displayName) -->
                    <p class="userName">{{this.user.displayName}}</p>
                  
                    <!------ Seguidores del usuario -->
                    <ion-label>
                      <p class="defaultFont" style="font-size: 13px;">{{this.user.followers}} <span *ngIf="this.user.followers > 1">seguidores</span><span *ngIf="this.user.followers == 1">seguidor</span></p>
                    </ion-label>
                  </ion-label>
                  <!--- Cuando se haga click en el botón, seguir al usuario y eliminarlo de esta misma lista (o no) -->
                  <ion-buttons slot="end">
                    <ion-button size="large" (click)="followUser(this.user)">
                      <ion-icon slot="icon-only" name="person-add" style="color:white;"></ion-icon>
                    </ion-button>
                  </ion-buttons> 

                  </ion-item>
              </ion-card>
             </ion-item>
          </ion-list>
          </ion-content>
        </super-tab>

      </super-tabs-container>

  </super-tabs>
</ion-content>
