/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.myToast {
    transform: translateY(-70px) !important;
    --background: #1DB954;
    --color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


.myToastv2 {
    --background: #1DB954;
    --color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.myToastLoginError {
    transform: translateY(-70px) !important;
    --background: rgb(219, 0, 0);
    --color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}


.loading-wrapper{
    --spinner-color: #1DB954;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.stats-loading{
    width: 33%;
    margin: 0 auto;
}

.myAlert {
    font-family: 'Poppins', sans-serif;
    .alertOK{
        font-family: 'Poppins', sans-serif;
        color:#1DB954;
        margin-right: auto;
        margin-left: auto;
    }  
    .alertDELETE{
        font-family: 'Poppins', sans-serif;
        color:rgb(173, 0, 0);
        margin-right: auto;
        margin-left: auto;
    }
}

.custom-popover{
    --background: #222222;
}