<ion-header>
  <ion-toolbar>
    <ion-title class="titleFriendProfilePage">Perfil de {{this.selectedUser.displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="imgEdit">
    <img src="{{selectedUser.image}}">
  </ion-avatar>

  
  <p class="displayName">{{this.selectedUser.displayName}}</p>

  <p *ngIf="this.selectedUser.followers > 0" class="followers">{{this.selectedUser.followers}} <span *ngIf="this.selectedUser.followers > 1">seguidores</span><span *ngIf="this.selectedUser.followers == 1">seguidor</span></p> 
  <p *ngIf="this.selectedUser.followers === 0" class="followers">No tiene seguidores</p>


  <div style="text-align: center;">
    <ion-button fill="outline" shape="round" class="profileButton" (click)="openFriendSpotifyProfile()">
      <ion-icon src="assets/spotify.svg" slot="start"></ion-icon>
      <ion-label style="font-family: 'Poppins', sans-serif;">Ver en Spotify</ion-label> 
    </ion-button>
  </div>

 
    <h4 style="margin-left: 5%;margin-top: 5%; font-family: 'Poppins', sans-serif;">Sus canciones más escuchadas</h4>
      <ion-item style="margin-top: -7px;" lines="none" *ngFor="let track of this.selectedUser.tracks; let i=index">
            <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
              <ion-item lines="full" class="itemBackground" (click)="openSongOrArtistInSpotify(this.track)">

                <ion-icon size="small" class="iconSPosition" src="assets/spotify.svg"></ion-icon>

                <p *ngIf="this.i === 0" slot="start" style="color:gold" class="index">{{i+1}}.</p>
                <p *ngIf="this.i === 1" slot="start" style="color:silver" class="index">{{i+1}}.</p>
                <p *ngIf="this.i === 2" slot="start" style="color:#CD7F32" class="index">{{i+1}}.</p>
                  <img slot ="start" style="width: 20%; margin-top: 7px; margin-bottom: 7px; margin-left: -13px;" src="{{this.track.trackThumbnail}}">          
                <ion-label>
                  <p class="track">{{this.track.trackName}}</p>
                
                  <!--
                    <ion-label *ngFor = "let artist of this.selectedUser.tracks.artists; let o=index">
                      <p *ngIf="2 >= this.o" class="defaultFont" style="font-size: 13px;">{{artist.name}}</p>
                      <p *ngIf="this.track.artists.length > 3 && this.o === 3" class="defaultFont" style="color:#bdbdbd; font-size: 13px;">Y más artistas</p>
                    </ion-label>
                  -->
      
                </ion-label>
              </ion-item>
            </ion-card>
        </ion-item>

        <h4 style="margin-left: 5%;margin-top: 5%; font-family: 'Poppins', sans-serif;">Sus artistas más escuchados</h4>
        <ion-item style="margin-top: -7px;" lines="none" *ngFor="let artist of this.selectedUser.artists; let i=index;">
          <ion-card style="width:100%; margin-left: auto; margin-right: auto; align-items: center;">
            <ion-item class="itemBackground" lines="full" (click)="openSongOrArtistInSpotify(this.artist)">
          
              <ion-icon size="small" class="iconSPosition" src="assets/spotify.svg"></ion-icon>

                <p *ngIf="this.i === 0" slot="start" style="color:gold;" class="index">{{i+1}}.</p>
                <p *ngIf="this.i === 1" slot="start" style="color:silver;" class="index">{{i+1}}.</p>
                <p *ngIf="this.i === 2" slot="start" style="color:#CD7F32;" class="index">{{i+1}}.</p>
              <ion-thumbnail slot="start" style="width: 70px;height: 70px; margin-top: 7px; margin-bottom: 7px; margin-left: -9px;">
                <img src="{{this.artist.image}}">
              </ion-thumbnail>
                <ion-label class="artist">
                {{this.artist.name}}
              </ion-label>
            </ion-item>
          </ion-card>
      </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
  <div style="text-align: center; padding-top: 10px;">
    <ion-button fill="outline" shape="round" class="closeButton" (click)="closeFriendProfilePage()">
      <ion-label style="font-family: 'Poppins', sans-serif;">Salir</ion-label> 
    </ion-button>
  </div>
</ion-footer>